#main {
  border: 2px solid #333;
  width: 800px;
  margin: 0 auto;
}
h2 {
  margin: 0px;
  padding: 0px;
  width: 100%;
  background-color: gray;
  margin: 0px;
  text-align: center;
  font-family: sans-serif;
  font-size: 30px;
  text-transform: uppercase;
}
img {
  width: 150px;
  height: 150px;
}
#strong {
  font-weight: 900;
}
#free {
  color: gray;
  text-transform: uppercase;
  font-size: 12px;
}
#ready {
  font-family: sans-serif;
  font-weight: 600;
}
a {
  color: black;
}
a:hover {
  text-decoration: none;
}
h3 {
  text-transform: uppercase;
  font-family: sans-serif;
}
li {
  margin: 20px;
  list-style: square;
}
button {
  width: 100%;
  color: white;
  background-color: black;
  text-transform: uppercase;
  font-size: 20px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
button:hover {
  background-color: white;
  color: black;
}
h2 {
  position: relative;
}
#id {
  background-color: red;
  color: white;
  display: inline;
  position: absolute;
  top: -40px;
  left: -40px;
  letter-spacing: 1px;
}
.bo {
  background-color: red;
  width: 20px;
  height: 20px;
  display: inline-block;
}
.bo1 {
  background-color: blue;
  width: 20px;
  height: 20px;
  display: inline-block;
}
.bo2 {
  background-color: brown;
  width: 20px;
  height: 20px;
  display: inline-block;
}
.bo3 {
  background-color: yellow;
  width: 20px;
  display: inline-block;
  height: 20px;
}
.bo4 {
  background-color: green;
  width: 20px;
  display: inline-block;
  height: 20px;
}
.bo5 {
  background-color: black;
  width: 20px;
  display: inline-block;
  height: 20px;
}
